{%- extends "bootstrap/base.html" %}

{% block html_attribs %} lang="en"{% endblock %}

{% block metas %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="NCI Clinical Trial API Client Example">
<meta name="author" content="hniedner@gmail.com">
{% endblock %}

{# We also set a default title, usually because we might forget to set one.
In our sample app, we will most likely just opt not to change it #}
{% block title %}Flask App Base Template{% endblock %}

{# While we are at it, we also enable fixes for legacy browsers. First we
import the necessary macros: #}
{% import "bootstrap/fixes.html" as fixes %}

{# Then, inside the head block, we apply these. To not replace the header,
``super()`` is used: #}
{% block head %}
{{super()}}

{#- Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes
The sample application already contains the required static files. #}
{{fixes.ie8()}}
{%- endblock %}

{# Adding our own CSS files is also done here. Check the documentation at
http://pythonhosted.org/Flask-Bootstrap/basic-usage.html#available-blocks
for an overview. #}
{% block styles -%}
{# do not forget to call super or Bootstrap's own stylesheets will disappear! #}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{# Finally, round things out with navigation #}
{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Structured Eligibility</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/">Foo</a></li>
            <li><a href="/">Bar</a></li>
            <li><a href="/">Foobar</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
{% endblock %}