{%- extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
    Clinical Trial Excursions
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="form-area">
                    <form role="form">
                        <br style="clear:both">
                        <h3 style="margin-bottom: 25px; text-align: center;">Create an eligibility criterion (Rule)</h3>
                        <div class="form-group">
                            <label for="description">Rule Description - Human readable description of the rule</label>
                            <textarea class="form-control" id="description" name="description" placeholder="Description"
                                      maxlength="255" rows="10" required></textarea>
                            <span class="help-block">
                                <span id="characterLeft" class="help-block ">255 characters left</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="name">Rule Name - Short label that identifies the rule in a listing</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Rule Name">
                        </div>
                        <div class="form-group">
                            <label for="type">Rule Type - Select the type of constraint imposed on the variable
                                (parameter) below</label>
                            <select class="form-control" id="type" name="type" required>
                                <option value="None" label="Please select a rule type" selected="selected"></option>
                                <option value="equal" label="Variable must match the value!"></option>
                                <option value="type_equal" label="Variable must match type and value!"></option>
                                <option value="min" label="Variable must be equal or greater than the value!"></option>
                                <option value="type_min" label="Variable must match the type and be equal or
                                                                greater than the value!"></option>
                                <option value="max" label="Variable must be equal or smaller than the value!"></option>
                                <option value="type_max" label="Variable must match the type and be equal or
                                                                smaller than the value!"></option>
                                <option value="in" label="Variable must be within the value set!"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="var_name">Variable Name - Name of the data element from the patient/subject data
                                set</label>
                            <input type="text" class="form-control" id="var_name" name="var_name"
                                   placeholder="Variable Name" required>
                        </div>
                        <div class="form-group">
                            <label for="value">Value - Constraint imposed on the variable according to the selected
                                rule</label>
                            <input type="text" class="form-control" id="value" name="value"
                                   placeholder="Value"
                                   required>
                        </div>
                        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Create Rule
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 id="info_title" class="panel-title">
                            Info
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p id="info_body">

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>


        var help = {
            'equal': '1',
            'type_equal': '2',
            'min': '3',
            'type_min': '4',
            'max': '5',
            'type_max': '6',
            'in': '7'
        };

        $(document).ready(function () {

            $('#info_title').text($('#type option:selected').attr('label'));
            $('#info_body').text($('#type').value);


            $('#characterLeft').text('255 characters left');
            $('#description').keydown(function () {
                var max = 255;
                var len = $(this).val().length;
                if (len >= max) {
                    $('#characterLeft').text('You have reached the limit');
                    $('#characterLeft').addClass('red');
                    $('#btnSubmit').addClass('disabled');
                }
                else {
                    var ch = max - len;
                    $('#characterLeft').text(ch + ' characters left');
                    $('#btnSubmit').removeClass('disabled');
                    $('#characterLeft').removeClass('red');
                }
            });
        });

        $('#type').on('change', function() {
            $('#info_title').text($('#type option:selected').attr('label'));
            $('#info_body').text(help[this.value])
        })
    </script>
{% endblock %}